.card {
  margin: 0px 15px 15px 0px;
  .card__button {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .card__content {
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    .card__img {
      -webkit-transition: all 0.4s;
      border-radius: 10px;
      max-height: 90%;
      max-width: 70%;
      transition: all 0.4s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
