<div class="container modal">
  <div class="modal__img">
    <img [src]="hero.image" class="" alt="hero image">
  </div>
  <div class="modal__name">
    <span>{{ hero.name }},</span>
    <span class="fst-italic"> "{{ hero.biography.aliases }}"</span>
  </div>
  <div class="modal__biography">
    <h1 class="">Biography</h1>
      <div class="modal__biography--item">
        <strong>Full name:</strong> {{ hero.biography.fullName }}
      </div>
      <div class="modal__biography--item">
        <strong>Publisher:</strong> {{ hero.biography.publisher }}
    </div>
  </div>
  <div class="modal__app-pow">
    <div class="modal__appearance">
      <h1 class="">Appearance</h1>
        @for (item of hero.appearance | keyvalue; track item.key) {
          <div class="modal__app-pow--item">
            <mat-icon class="modal__icon" aria-hidden="false" aria-label="icon" [fontIcon]="getIconAppearance(item.key)"></mat-icon>
            <strong>{{item.key}}:</strong> {{item.value}}
          </div>
        }
    </div>
    <div class="modal__powerstats">
      <h1 class="">Powerstats</h1>
        @for (item of hero.powerstats | keyvalue; track item.key) {
          <div class="modal__app-pow--item">
            <mat-icon class="modal__icon" aria-hidden="false" aria-label="icon" [fontIcon]="getIconPowerstats(item.key)"></mat-icon>
            <strong>{{item.key}}:</strong> {{item.value}}
          </div>
        }
    </div>
  </div>
</div>
