.search {
  padding: 20px 0px 20px 0px;
  text-align: center;
  width: 100%;
  .search__field {
    width: 100%;
    .search__field-input {
      font-size: 20px;
      text-align: center;
    }
  }
}
