html, body { height: 100%; }

// Remove arrows in input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome 84+ y navegadores compatibles */
@supports not (-moz-appearance: none) {
  input[type=number] {
    appearance: textfield;
  }
}